.mapa-O svg{
    height: 900px;
    width: 900px;
}

.mapa-O path{
    fill:#fcfdfe;
    stroke: green;
    stroke-width: 2px;
}

.mapa-O :hover{
    fill: blue;
    transition: all 1s ease
}

.mapa-O a{
    box-shadow: 5px 5px 5px 10px;
    cursor:pointer;
}


.Ourense:hover{
    fill: rgb(143, 143, 50);

}