.mapa-O svg{
    height: 900px;
    width: 900px;
}

.mapa-O path{
    fill:#fcfdfe;
    stroke: rgba(128, 128, 128, 0.633);
    /* box-shadow: 5px 5px 5px 10px; */
    stroke-width:1.5px;
}

.mapa-O :hover{
    fill:  rgba(128, 128, 128, 0.633);
    transition: all 1s ease
}

.mapa-O a{
    cursor:pointer;
}

