.nav-bar{
    backdrop-filter: blur(0.6rem);
    background: #09b0ea;
    box-shadow: 5px 5px 6px rgb(196, 191, 191);
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.ul-link{
    padding-left: 0rem;
}


.link{
    display: flex;
    border: 0.5px solid rgb(142, 142, 142);
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    font-weight: 600;
    height: 50px;
    width: 100%;
    list-style: none;

}


.link:hover{
    background-color: yellow;
    transition: all ease 0.7s;
}